*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.rar
*.mdf
*.ldf
**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
*/Performance/*TestResults.txt
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
.vs/
Publish/

.vs/SIAW/v17/.suo
SIAW/obj/Debug/net6.0/SIAW.csproj.AssemblyReference.cache
siaw_DBContext/obj/
siaw_funciones/bin/
siaw_funciones/obj/
siaw_funciones/bin/Debug/net6.0/